[submodule "zsh/zgenom"]
  path = zsh/zgenom
  url = https://github.com/jandamm/zgenom.git
  shallow = true
[submodule "bash/bash-sensible"]
  path = bash/bash-sensible
  url = https://github.com/mrzool/bash-sensible
  shallow = true
